---
    const {id, question, descp, link, path_video} = Astro.props
---

<details id={id} class="rounded-xl p-2 open:border-2 open:border-neutral-600">
    <summary>{question}</summary>
    <div class="mt-4">
        <p class="text-neutral-500">{descp}</p>  
        <div class="mt-2">
            {link && <a class="transition-all duration-300 ease text-emerald-500" href={link} target="_blank">{link}</a>}
        </div>
        <div class="mt-4">
            {path_video && <video src={path_video} controls></video>}
        </div>
    </div>
</details>